*{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{
height:100%;
width:100%;
}

.button{
    display: inline-block;
    height: 100px;
    width:100px;
    border: 1px solid black;
    border-radius: 10px;
}
#red{
    background: red;
}
#green{
    background: green;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}