*{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{
height:100%;
width:100%;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
    
}
#clock{
    border-radius: 10px;
    height: 100px;
    width: 250px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock h1{
    
    font-family: "rejouice";
}